<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Football Games</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/53/53283.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<script>
        async function fetchTeams() {
            try {
                const response = await fetch('https://champ-back.vercel.app/teams/sort', {
                    headers: {
                        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0NTA0M2NhOGVjYjQzZDk2MTRlZjI2MCIsIm5vbWUiOiJSYWZhZWwgQ2FydmFsaG8iLCJlbWFpbCI6InJhZmFAZ21haWwuY29tIiwicGFzc3dvcmQiOiIkMmIkMTIkYUZ3VVhtZkloTVJvaU54YnFWRDJlLmF6c2dIZzNQTVZKNmVzdHA3TzB0YXQ5cVJvNkY1YXkiLCJpYXQiOjE2ODMyNTM3Nzl9.k67KJ2dtxKcsZnz3WvYm3oR2eeftyMNSDMy5G6a-wV0'
                    }
                });

                if (response.ok) {
                    const teams = await response.json();
                    displayTeams(teams);                    
                } else {
                    throw new Error('Failed to fetch teams');
                }
            } catch (error) {
                console.log(error);
                displayError();
            }
        }

        function displayTeams(teams) {
            console.log(teams)
            const container = document.querySelector('.teams');
            let html = ''

            for (let i = 0; i < teams?.length; i++) {
                const partida = teams[i].PARTIDA;
                const timeA = teams[i].timeA;
                const timeB = teams[i].timeB;

                html += `
                <div class="col-12 col-md-6 my-2">
                    <h4>Partida ${partida}</h4>
                    <div class="d-flex flex-wrap gap-4 align-items-center my-5 justify-content-center">
                        <div class="d-flex align-items-center">
                            <p class="lead me-3">${timeA.name}</p>
                            <img src="${timeA.shieldImage}" width="64px" alt="">
                        </div>
                        <b>X</b>
                        <div class="d-flex align-items-center">
                            <img src="${timeB.shieldImage}" width="64px" alt="">
                            <p class="lead ms-3">${timeB.name}</p>
                        </div>
                    </div>
                </div>
                `;
            }

            container.innerHTML = html;
        }

        function displayError() {
            const container = document.querySelector('.teams');
            const html = `
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Erro! Não foi possível carregar os times.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            `;
            container.innerHTML = html;
        }

        function sort() {
            fetchTeams();
        }
</script>

<body>

    <nav class="navbar bg-primary">
        <div class="container container-fluid">
            <a class="navbar-brand text-white" href="#">Projeto de Sistemas Web II</a>
            <a class="navbar-brand text-white" href="#">Atividade III</a>
        </div>
    </nav>

    <div class="px-4 py-5 my-5 text-center ">
        <h1 class="display-5 fw-bold text-body-emphasis">Sortear Times</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Clique no botão abaixo para sortear os times e criar as chaves para o campeonato.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="sort()">Sortear</button>
            </div>
        </div>
    </div>

    <main>
        <div class="container">
            <div class="row teams">

            </div>
        </div>
    </main>

    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="https://github.com/MiihLeite" class="nav-link px-2 text-muted">Michele
                    Araújo</a></li>
            <li class="nav-item"><a href="https://github.com/rafaelcarvalho-git" class="nav-link px-2 text-muted">Rafael
                    Carvalho</a></li>
            <li class="nav-item"><a href="https://github.com/TheSamuelVitor" class="nav-link px-2 text-muted">Samuel
                    Vitor</a></li>
        </ul>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>
